{% extends 'base.html.twig' %}

{% block title %} Welcome to Jobeet{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="container ">
        {% if not categories %}
            <h1 class="text-white">0 jobs found for the moment</h1>
        {% endif %}
        {% for category in categories %}
            <div class="card p-5 mt-5 shadow p-3 mb-5 bg-white rounded border-top">

                <h1 class="display-4 text-primary">{{ category.name }}  </h1>
                <table class="table shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark">
                    <tr>
                        <th>City</th>
                        <th>Position</th>
                        <th>Company</th>

                    </tr>
                    </thead>
                    {% for job in category.Jobs|slice(0, max_jobs_on_homepage) %}
                        <tr>
                            <td>{{ job.location }}</td>
                            <td><a href="{{ path('job.show', {id: job.id}) }}">{{ job.position }}</a></td>
                            <td>{{ job.company }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}

    </div>

{% endblock %}
