{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="card  mt-5 shadow p-3 mb-5 bg-white rounded border-top  border-primary">
            {% if hasControlAccess is defined and hasControlAccess %}
                {% include 'job/control_panel.html.twig' with {'job': job} %}
            {% endif %}
            {% if job.logo %}
                <div class="text-center mt-0 ">
                    <a href="{{ job.url }}" target="_blank">
                        <img class="rounded shadow " style="width:200px; height:100px;"
                             src="{{ asset(jobs_web_directory ~ '/' ~ job.logo) }}">
                    </a>
                </div>
            {% endif %}

            <h1 class="media-heading ">Job</h1>
            <div class="media" style="margin-top: 60px;">


                <div class="media-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3 class="media-heading"><strong>{{ job.company }}</strong> <i>({{ job.location }})</i>
                            </h3>
                        </div>

                        <div class="col-sm-2">
                            <i class="pull-right">posted on {{ job.createdat|date('m/d/Y') }}</i>
                        </div>
                    </div>

                    <p>
                        <strong>{{ job.position }}</strong>
                        <small> - <i>{{ job.type }}</i></small>
                    </p>

                    <p>{{ job.description|nl2br }}</p>

                    <p style="margin-top: 40px;">
                        <strong>How to apply?</strong>
                    </p>

                    <p>{{ job.howToApply }}</p>

                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a class="btn btn-default" href="{{ path('homepage') }}">

                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                Back to list
                            </a>

                            {#                            <a class="btn btn-primary" href="{{ path('job.edit', {token: job.token}) }}">#}
                            {#                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>#}
                            {#                                Edit#}
                            {#                            </a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}